p:nth-child(5) {
   background: revert;
   box-shadow: revert;
   padding: revert;
}

a {
   font-size: 12px;
}
body{
   font-family: Arial, Helvetica, sans-serif;
   background: radial-gradient(circle, white, lightgray);
}
h1{
   color: darkblue;
   text-shadow: 5px 5px 6px gray;
   padding: 8px;
}

p{
   color: white;
   background-color: darkblue;
   font-size: 16px;
   padding: 10px;
   border-radius: 5px;
   width: 350px;
   background: linear-gradient(to bottom right,darkblue,skyblue);
   box-shadow: 5px 5px 6px gray;

}




/* Add styles here */